@model IEnumerable<JOWheels.Models.Car>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<style>
    #announImg {
        width: 100%;
        height: 250px;
        object-fit: cover;
        background-size: cover;
    }

    #content {
        height: 250px;
    }

    #searchBar, #searchBtn {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        outline: none;
        letter-spacing: 1.5px;
    }

    #searchBtn {
        background-color: #007A3D;
        color: #fff;
        transition: 0.3s;
    }

        #searchBtn:hover {
            background-color: #005c29;
        }

    #fav {
        font-size: 14px;
        padding: 12px;
        border-radius: 8px;
        border: none;
        background-color: #CE1126;
        color: #fff;
        letter-spacing: 1.5px;
    }

        #fav:hover {
            background-color: #701608;
        }
</style>


<!-- Announcements Section Start -->
<section id="services" class="services section">

    <!-- Headings -->
    <div class="container section-title" data-aos="fade-up">
        <h2>CARS</h2>
        <p>ALL Announcements<br></p>
    </div>


    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <!-- Search Bar -->
        <form method="post" style="text-align: center" class="mb-4">
            <h3>Quick search</h3>
            <input id="searchBar" type="text" placeholder="Search..." name="search" />
            <input id="searchBtn" type="submit" value="search" class="btn" />
        </form>

        <div class="row gy-5">

            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item">

                        <!-- Image -->
                        <div class="img">
                            <img id="announImg" src="~/Photos/Cars/@item.Image" class="img-fluid" alt="">
                        </div>


                        <div class="details position-relative" id="content" style="margin: -0px 30px 0 30px !important;">
                            <div class="icon">
                                <i class="fa-solid fa-warehouse"></i>
                            </div>

                            <a asp-action="CarDetails" asp-controller="Home" asp-route-id="@item.Id" class="stretched-link">
                                <h3>@item.Title</h3>
                            </a>

                            <p style="font-weight: bold"><span>Price : </span>@item.Price</p>

                            <p style="font-weight: bold; overflow:auto;"><span>Description : </span>@item.Description</p>

                        </div>

                        <!-- Favorits Button -->
                        <div class="text-center">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
                            {
                                <div style="text-align:center">
                                    @{
                                        var favValue = "";

                                        if (item.IsFavorite == false)
                                        {
                                            favValue = "Add to Favorites";
                                        }

                                        else
                                        {
                                            favValue = "Unfavorite";
                                        }
                                    }
                                    <a class="btn" id="fav" asp-action="FavValue"
                                       asp-route-carId="@item.Id">@favValue</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</section>
<!-- /Announcements Section End -->
